body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
    background-size: cover;
    background-color: #555555;
}
.titulo {
    background-image:linear-gradient(to bottom right,#494949,#000000);
    color: white;
    padding: 30px;
    height: 80px;
    text-align: center;
    font-size: 50px;
    margin: auto;
    height: 60px;
    border-bottom: solid black;

}

.textobranco {
    color: white;
}

.botaovoltar {
    justify-content: center;
    background-color: #C3A77D;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
    border: solid;
    border-color: #42392C;
    border-radius: 5px;
}

.fundoborda {
    text-align: center;
    width: 85%;
    margin: auto;
    padding: auto;
}

.blocomaior {
    color: white;
    border: solid;
    background-color: rgb(254, 255, 186);
    border-radius: 5px;
    background-image: linear-gradient(to bottom right,#868484, #363426);
    width: 60%;
    margin: auto;
    height: auto;
    padding: 5px;
    border-color: black;
}

.blocomenor {
    border: solid black;
    background-color: #383531;
    text-align: center;
    width: 300px;
    justify-content: center;
    height: 200px;
    overflow-y:auto;
    text-align: center;
}

.tabelamento {
    display: table-cell;
    padding: 20px;
    display: inline-block
}

.input1 {
    input {
        width: 200px;
        height: 30px;
        border-radius: 5px;
    }
}

.input2 {
    input {
        width: 200px;
        height: 120px;
        border-radius: 5px;
    }
}

.input3 {
    input {
        width: 200px;
        height: 30px;
        border-radius: 5px;
    }
}

.adicionar {
    justify-content: center;
    background-color: #c9c9c9;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 2px;
    cursor: pointer;
    border: solid;
    border-color: #3f3f3f;
    border-radius: 5px;
}

textarea {
    resize: none;
    overflow-y:auto;
    height: 60px;
    width: 220px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
